@chartset "utf-8";
.container{
	width: 100%;
	min-width:1200px;
}
/* header style shart */
.container .header{
	width: 100%;
	height: 30px;
	border-bottom:1px solid #ccc;
	background-color: #F7F7F7;
}
.container .header .h-toolbar{
	width: 1200px;
	height: 30px;
	margin:0 auto;
}
.container .header .h-toolbar .h-right{
	float: right;
	height: 30px;
}
.container .header .h-toolbar .h-right > li{
	float: left;
	margin:0 8px;
	line-height: 30px;
	font-size: 12px;
	color:#808080;
}
.container .header .h-toolbar .h-right > li > a{
	color:#808080;
}
.container .header .h-toolbar .h-right > li > a:hover{
	color:#B82125;
}
.container .header .h-toolbar .h-right .notice i{
	width: 18px;
	height: 22px;
	margin-right:5px;
	background: url('../images/notice.png') no-repeat;
}
.container .header .h-toolbar .h-right .weixin i{
	width: 20px;
	height: 20px;
	background: url('../images/w1.jpg') no-repeat;
}
.container .header .h-toolbar .h-right .weixin:hover .weixin-hover{
	display: block;
}
.container .header .h-toolbar .h-right .weixin{
	position: relative;
	margin:0;
}
.container .header .h-toolbar .h-right > li.weixin .weixin-hover{
	display: none;
	position: absolute;
	top:30px;
	right:2px;
	width:147px;
	height: 168px;
	background:url('../images/weixin.png') no-repeat;
	border:1px solid #ccc;
	border-top:none;
	z-index:10;
}
.container .header .h-toolbar .h-right .weibo i{
	width: 20px;
	height: 20px;
	background: url('../images/w2.jpg') no-repeat;
}
/* header style end */



/* middle style start */
.middle{
	width: 1200px;
	margin:20px auto 0;
}
/* middle shop style start*/
.middle .m-shop{
	height: 60px;
}
.middle .m-shop .m-s-right{
	float: right;
}
.middle .m-shop .s-left{
	float: left;
	margin-right:20px;
	text-align:center;
	line-height: 31px;
}
.middle .m-shop .s-left > input{
	width:251px;
	height: 25px;
	padding:0 10px;
	vertical-align:middle;
}
.middle .m-shop .s-left > input::placeholder{
	font-size: 12px;
}
.middle .m-shop .s-left > span{
	display: inline-block;
	width: 50px;
	height: 29px;
	margin-left:-4px;
	background-color: #B81B22;
	vertical-align:middle;
	color:#fff;
	cursor:pointer;
}
.middle .m-shop .s-right{
	position: relative;
	float: left;
	width: 106px;
	height: 29px;
	margin-bottom: 1px;
	background: url('../images/vanclsprite.png') no-repeat -153px 0;
	color:#fff;
	background-color: #fff;
	border:1px solid #B81B22;
	text-align:center;
	line-height: 32px;
	font-size: 12px;
	cursor:pointer;
	vertical-align:middle;
}
.middle .m-shop .s-right:hover{
	background-position: -152px -29px;
	color:#B81B22;
	background-color: #fff;
}
.middle .m-shop .s-bottom{
	text-indent:16px;
	line-height: 25px;
	font-size: 12px;
	color:#727171;
}
.middle .m-shop .s-bottom a{
	margin:0 5px;
	color:#727171;
}
/* middle shop style end*/



/*middle nav style start*/
.middle .m-nav{
	margin-top:20px;
}
.middle .m-nav .m-logo{
	float: left;
	cursor:pointer;
}
.middle .m-nav .m-mainbar{
	float: left;
}
.middle .m-nav .m-mainbar > ul > li{
	position: relative;
	float: left;
	width: 99px;
	height: 22px;
	margin-top:22px;
	font-size: 16px;
	color:#727171;
	text-align:center;
}
.middle .m-nav .m-mainbar > ul > li > a{
	color:#727171;
}
.middle .m-nav .m-mainbar > ul > li > i{
	position: absolute;
	top:-4px;
	right:8px;
	display: inline-block;
	width: 25px;
	height: 13px;
	background: url('../images/icon_hot.png') no-repeat;
}
.middle .m-nav .m-mainbar > ul > li > em{
	position: absolute;
	top:-4px;
	right:8px;
	display: inline-block;
	width: 25px;
	height: 13px;
	background: url('../images/new_0308.png') no-repeat;
}
.middle .m-nav .m-mainbar > ul > li + li{
	border-left:1px solid #aaa;
	line-height: 22px;
}
/*pub-subnav style start*/
.middle .m-nav .m-mainbar .pub-subnav{
	position: absolute;
	top:30px;
	left:-1px;
	width: 100%;
	height: 0;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	z-index:10;
	background-color: #fff;
	transition:.5s;
	overflow:hidden;
}
.middle .m-nav .m-mainbar .pub-subnav > li{
	line-height: 36px;
	cursor:pointer;
}
.middle .m-nav .m-mainbar .pub-subnav > li:nth-child(1){
	width: 100%;
	height: 5px;
	margin-bottom:10px;
	background-color: #B81C22;
}
.middle .m-nav .m-mainbar .pub-subnav > li:hover,
.middle .m-nav .m-mainbar > ul > li:hover > a{
	color:#b81c22;
}
.middle .m-nav .m-mainbar > ul > li:hover .pub-subnav{
	height: 460px;
}
.middle .m-nav .m-mainbar > ul > li:hover .h-0{
	height: 5px;
	transition:.3s;
}
/*pub-subnav style end*/

/*middle nav style end*/


/*middle banner style start*/
.middle .banner{
	width: 1200px;
	height: 535px;
	margin-top: 30px;
}
/*middle banner style end*/


.middle .m-msg{
	height: 134px;
	margin:30px auto 0;
	cursor:pointer;
}


/*middle seckill style start*/
.middle .m-seckill{
	margin-top:20px;
	background: url('../images/miaosha-bg1.jpg') no-repeat;
	
}
.middle .m-seckill .m-s-right .m-s-r-time{
	float: right;
	width: 400px;
	height: 64px;
}
.middle .m-seckill .m-s-right span{
	line-height:64px;
	color:#fff;
	text-align:center;
	font-size:18px;
}
.middle .m-seckill .m-s-right em{
	font-size: 18px;
	color:#a10000;
	margin:0 19px;
}
.middle .m-seckill .m-s-content{
	width: 1200px;

}
.middle .m-seckill .m-s-content ul{
	width: 100%;
	margin-top:10px;
}
.middle .m-seckill .m-s-content ul li{
	float: left;
	width: 232px;
	cursor:pointer;
}
.middle .m-seckill .m-s-content ul li + li{
	margin-left:10px;
}
.middle .m-seckill .m-s-content ul li .desc{
	margin-top:10px;
	color:#474747;
	font-size: 16px;
	cursor:pointer;
}
.middle .m-seckill .m-s-content ul li .money{
	width: 100%;
	cursor:pointer;
}
.middle .m-seckill .m-s-content ul li .money .m-left{
	float: left;
	height: 40px;
}
.m-s-content ul li .money .m-left .cost-price{
	text-decoration:line-through;
	color:#ccc;
	font-size: 14px;
}
.m-s-content ul li .money .m-left .current-price{
	color:#bb2b34;
	font-size: 16px;
}
.middle .m-seckill .m-s-content ul li .money .m-right{
	float: right;
	height: 40px;
	line-height: 58px;
	font-size: 16px;
	color:#474747;
}
.m-s-content ul li .money .m-right span{
	color:#bb2b34;
	font-size: 24px;
}
/*middle seckill style end*/


/* middle pub-news style start*/
.middle .m-pub-news{
	width: 1200px;
}
.middle .m-pub-news .m-30{
	margin-top:30px;
}
.middle .m-pub-news .p-content ul li{
	float: left;
	cursor:pointer;
}
.middle .m-pub-news .p-content .m-16 li{
	margin:0 16px;
}
.middle .m-pub-news .p-content .w-292{
	margin-top:20px;
}
.middle .m-pub-news .p-content .w-292 li{
	margin:20px 0 0 10px;
}
.middle .m-pub-news .p-content .mart-0 li{
	margin-top:0;
}
.middle .m-pub-news .p-content .w-292 .w-294{
	width: 294px;
	margin-left:0;
}
.middle .m-pub-news .p-content .w-288 li{
	margin:20px 0 0 16px;
}
.middle .m-pub-news .p-content .w-288 .marl-0{
	margin-left:0;
}
.middle .m-pub-news .p-content .mart-20{
	margin-top:20px;
}
/* middle pub-news style end*/


/* middle m-service style start */
.middle .m-service{
	margin-top:35px;
	padding:35px;
	border:1px solid #bbb;
}
.middle .m-service .s-t-left{
	float: left;
	width: 370px;
	height: 120px;
	border-right:1px solid #ccc;
}
.middle .m-service .s-t-left p + p{
	width: 156px;
	margin-top:30px;
	background-color: #b81c22;
}
.middle .m-service .s-t-left p{
	margin:0 auto;
	line-height: 32px;
	color:#fff;
	text-align:center;
	cursor:pointer;
}
.middle .m-service .s-t-center{
	float: left;
	width: 370px;
	height: 120px;
	border-right:1px solid #ccc;
	text-align:center;
}
.middle .m-service .s-t-center p{
	color:#727171;
	line-height: 24px;
	cursor:pointer;
}
.middle .m-service .s-t-center p + p{
	margin-top: 20px;
}
.middle .m-service .s-t-right{
	float: left;
	width: 370px;
	margin-top:-10px;
	text-align: center;
}
.middle .m-service .s-t-right p{
	margin-top: 10px;
	color:#727171;
	cursor:pointer;
}
.middle .m-service .s-t-right p span{
	color:#a10000;
}
.middle .m-service .s-bottom{
	width: 1128px;
	height: 57px;
	margin-top: 22px;
	background-color: #f8f8f8;
}
.middle .m-service .s-bottom ul li{
	float: left;
	margin-top:18px;
	padding:0 66px;
	color:#323232;
	font-size: 12px;
	line-height: 24px;
	cursor:pointer;
}
.middle .m-service .s-bottom ul li + li{
	border-left:1px solid #dadadb;
}
/* middle m-service style end */

/* middle fixed style start */
.middle .fixed{
	position: fixed;
	right:10px;
	bottom:50px;
	width: 73px;
	border:1px solid red;
	cursor:pointer;
}
.middle .fixed img.img-2{
	margin-top: 1px;
	border-top:1px solid #b81b22;
}

/* middle fixed style end */

/* middle style end */



/*footer style start*/
.footer{
	width: 100%;
	margin-top:30px;
	border-top:1px solid #000;
}
.footer .copyright{
	width: 1200px;
	margin:0 auto;
	text-align: center;
	color:#3e3a39;
	font-size: 12px;
}
.footer .copyright p {
	margin:10px 0;
}
.footer .friendlink{
	width: 1200px;
	margin:25px auto;
	text-align: center;
}
.footer .friendlink i{
	display: inline-block;
	margin:0 10px;
	background: url('../images/spritesbgtop.png') no-repeat;
}
.footer .friendlink i:nth-child(1){
	width: 113px;
	height: 42px;
	background-position: 0 -580px;
}
.footer .friendlink i:nth-child(2){
	width: 156px;
	height: 45px;
	background-position: 0 -630px;
}
.footer .friendlink i:nth-child(3){
	width: 96px;
	height: 42px;
	background-position: 0 -675px;
}
.footer .friendlink i:nth-child(4){
	width: 102px;
	height: 42px;
	background-position: -96px -680px;
}
.footer .friendlink i:nth-child(5){
	width: 42px;
	height: 42px;
	background-position: -202px -675px;
}
.footer .friendlink img{
	width: 120px;
	height: 36px;
	margin-left:10px;
}
/*footer style end*/